@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600;1,700&display=swap');


body {

    margin: 0;
    background-color: #faf8f1;
   
}

#fullCont {

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 16vh repeat(4,1fr) 8vh ;
    width: 100vw;
    height: 100vh;
}

#siteHead {

    grid-column: 1/7;
    grid-row: 1/2;
    background-color: #2C3639;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    
   
}

#heading1 {

    font-size: 2.2em;
    color: #faf8f1;
    justify-self: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

#bottom {

    
    grid-column: 1/7;
    grid-row: 6/7;
    background-color: #3F4E4F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottomW1 {

    color: #DCD7C9;
    font-family: 'Fira Sans', sans-serif;
}



#sideCl {

    grid-column: 1/2;
    grid-row: 2/6;
    background-color: #DCD7C9;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 2vh;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 2.5vh;
}

#w1,
#w2 {

    font-weight: 400;
    font-size: 1.4em;
    color: #2C3639;
    font-style: italic;
}

#w3 {

    font-weight: 400;
    font-size: 1em;
    color: #2C3639;
}

#container {

    grid-column: 2/7;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr repeat(7,1fr);
    background-color: #faf8f1;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 10vh;

}

#cardsleg {

    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
    
}

.cardsLeg {

    
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 1em;
    justify-self: center;
    align-self: center;
}

.containercards {

    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
}

.containercards > div {

    justify-self: center;
    align-self: center;
}

.createTaskBt {

    font-family: 'Fira Sans', sans-serif;
    width: 18vh;
    height: 6vh;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    color: #2C3639;
    border: 1px solid #2C3639;
    background-color:#faf8f1;
    margin-right: 18vh;
}

.createTaskBt:hover {

    background-color: #DCD7C9;
    border: 2px solid #2C3639;
}

#infoBox {

    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-template-rows: repeat(4,0.5fr);
    margin-left: 13vh;
    margin-right: 25vh;
    border: #2C3639 1px solid;
    justify-items: center;
    row-gap: 1vh;
    column-gap: 1vh;
    padding: 1vh;
}


.inputsAgr {

    font-family: 'Fira Sans', sans-serif;

}

#nameInput {


    grid-row: 1/2;
    grid-column: 1/2;
}

#descInput {

    grid-row: 1/2;
    grid-column: 2/3;
}


#dateInp {

    grid-row: 1/2;
    grid-column: 3/4;
}

#prioriInput {

    grid-row: 2/3;
    grid-column: 1/2;
}

#anotInput {

    grid-row: 2/3;
    grid-column: 2/3;
}

#categInput {

    grid-row: 2/3;
    grid-column: 3/4;
}



#createBtt {

    grid-row: 3/4;
    grid-column: 1/2;
}

#deleteBtt {

    grid-row: 3/4;
    grid-column: 3/4;
}

.dttbutton {

    border-radius: 20px;
    background-color: #faf8f1;
    border: #3F4E4F 1px solid;
    height: 8vh;
    font-family: 'Fira Sans', sans-serif;
    width: 10vh;
    align-self: center;
}

.checkBoxi {

    width: 4vh;
    height: 4vh;
    justify-self: center;
    align-self: center;
}



